a, a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
html {
  	scroll-behavior: smooth;
}
ul{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
p{
	margin-bottom: 0;
}
a {
    color: #333;
}
img{
	width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
@font-face {
	font-family: roboto-medium;
	src:url('https://static.ex-cdn.com/kinhtevietnam.vn/v0.0.27/templates/themes/fonts/Roboto-Medium.ttf');
}
@font-face {
	font-family: roboto-regular;
	src:url('https://static.ex-cdn.com/kinhtevietnam.vn/v0.0.27/templates/themes/fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: roboto-bold;
	src:url('https://static.ex-cdn.com/kinhtevietnam.vn/v0.0.27/templates/themes/fonts/Roboto-Bold.ttf');
}
@font-face {
	font-family: roboto-light;
	src:url('https://static.ex-cdn.com/kinhtevietnam.vn/v0.0.27/templates/themes/fonts/Roboto-Light.ttf');
}
@font-face {
	font-family: roboto-thin;
	src:url('https://static.ex-cdn.com/kinhtevietnam.vn/v0.0.27/templates/themes/fonts/Roboto-Thin.ttf');
}
@font-face {
	font-family: roboto-italic;
	src:url('https://static.ex-cdn.com/kinhtevietnam.vn/v0.0.27/templates/themes/fonts/Roboto-Italic.ttf');
}
@font-face {
	font-family: roboto-light-italic;
	src:url('https://static.ex-cdn.com/kinhtevietnam.vn/v0.0.27/templates/themes/fonts/Roboto-LightItalic.ttf');
}
@font-face {
	font-family: proxima-nova-bold;
	src:url('https://static.ex-cdn.com/kinhtevietnam.vn/v0.0.27/templates/themes/fonts/Proxima Nova Bold.otf');
}
@font-face {
	font-family: proxima-nova-regular;
	src:url('https://static.ex-cdn.com/kinhtevietnam.vn/v0.0.27/templates/themes/fonts/ProximaNovaCond-Regular.ttf');
}
@font-face {
	font-family: baijamjuree-bold;
	src:url('https://static.ex-cdn.com/kinhtevietnam.vn/v0.0.27/templates/themes//fonts/BaiJamjuree-Bold.ttf');
}
@font-face {
	font-family: baijamjuree-regular;
	src:url('https://static.ex-cdn.com/kinhtevietnam.vn/v0.0.27/templates/themes//fonts/BaiJamjuree-Regular.ttf');
}
@font-face {
	font-family: Averta;
	src:url('https://static.ex-cdn.com/kinhtevietnam.vn/v0.0.28/templates/themes/fonts/AvertaDemoPE-Regular.ttf');
}
body{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
strong{
	font-family: roboto-bold;
}
.time{
    color: #fff;
}
.main-title{
	font-family: roboto-medium;
	font-weight: 500;
}
.main-title a{
	color: #333333;
}
.main-title-small{
	font-size: 14px;
	line-height: 21px;
	overflow: hidden;
}
.main-title-medium{
	font-size: 16px;
	line-height: 24px;
}
.main-title-sizable{
	font-size: 20px;
	line-height: 130%;
	letter-spacing: 0.02em;
}
.main-title-large{
	font-size: 18px;
	line-height: 25px;
}
.main-title-big{
	font-size: 24px;
	line-height: 31px;
}
.main-title-super{
	font-size: 32px;
	line-height: 130%;
}
.tv-main-title{
	line-height: 24px;
}
.tv-main-title a{
	color: #FFFFFF;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}
.tv-main-title-big{
	line-height: 130%;
}
.tv-main-title-big a{
	color: #FFFFFF;
	font-weight: 500;
	font-size: 32px;
	line-height: 130%;
}
.main-intro{
	color: #444444;
	font-size: 14px;
	line-height: 140%;
}
.main-intro-big{
	font-size: 16px;
}
.tv-main-intro{
	color: #EEEEEE;
}
.thumb{
	display: inline-block;
}
.cate-icon{
	display: inline-block;
	width: 3px;
	height: 17px;
	transform: skew(-10deg);
	-webkit-transform: skew(-10deg);
	-moz-transform: skew(-10deg);
	-o-transform: skew(-10deg);
	background: #03932A;
	position: relative;
	margin-right: 12px;
}
.cate-icon:after{
	position: absolute;
	content: "";
	width: 5px;
	height: 17px;
	background: #EE0202;
	display: inline-block;
	left: 100%;
}
.category-title{
	font-family: roboto-regular;
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
}
.category-title a{
    color: #03932A;
}
.main-adv{
	padding: 29px 79px 29px 91px;
	margin: 0 -15px;
}
.main-breadcrumb{
	padding-bottom: 4px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
	display: flex;
	align-items: flex-end;
	margin-bottom: 19px;
}
.main-breadcrumb .main-cate{
	padding-right: 15px;
}
.main-breadcrumb a.active{
	color: #243160;
	font-weight: 700;
}
.main-breadcrumb .main-cate a{
	font-size: 24px;
	line-height: 31px;
	font-family: roboto-medium;
	color: #993333;
}
.main-breadcrumb .chevron-right{
	color: #243160;
	font-size: 12px;
	transform: translateY(-3px);
}
.main-breadcrumb .list-sub-cate{
	display: flex;
	padding-left: 10px;
}
.main-breadcrumb .list-sub-cate li{
	padding-right: 20px;
}
.main-breadcrumb .list-sub-cate a{
	font-size: 16px;
	line-height: 25px;
	font-family: roboto-regular;
	color: #222222;
}
/*HEADER*/
.top-header{
	background: #222222;
	font-size: 12px;
	padding: 4px 0;
}
.top-header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1077px;
}
.top-header-right{
	display: flex;
	align-items: center;
}
.social-networks{
	display: flex;
	font-size: 16px;
}
.social-networks li{
	margin-right: 15px;
}
.social-networks a{
	color: #F0EFF4;
}
.top-header-right .split{
	margin-right: 15px;
}
.weather .city{
	margin-right: 10px;
}
.home-logo img{
	width: 206px;
	padding-left: 10px;
}
.bottom-header{
	color: #F7F7F7;
	height: 55px;
}
.bottom-header .menu-action{
	display: flex;
	position: relative;
	right: -120px;

}
/*
.menu-action a{
	color: #333333;
	font-size: 18px;
}
*/

.menu-search {
	display: block;
	padding: 5px;
	position: relative;
}
.menu-search .menu-search_btn i{
	font-size: 25px;
	color: black;
}
.search-bar{
	position: absolute;
	z-index: 2;
	display: flex;
	border-radius: 50px;
	outline: none;
	top: 50px;
	right: 0px;
	background-color: white;
	padding: 3px;

   	visibility: hidden;
}
.search-bar input{
    outline-style: none;
	border-radius: 15px;
	border: none;
	padding-left: 10px;
}.search-bar button{
	border-radius: 50%;
	border: none;
	background-color: #A71E23;
	color: white;
	padding: 5px 10px;
}

/*--------------------------------search -----------------------------------------*/
.container1 {
  position: absolute;
	background-color: white;
  transform: translate(-100%);
}
.search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 8;
  width: 20px;
  height: 20px;
  transition: all .25s ease-in-out .25s;
  color: transparent;
  font-size: .75rem;
  line-height: 25px;
}
.search-box input[type="text"]:hover {
  cursor: pointer;
}
.search-box input[type="text"]:hover:focus {
  cursor: text;
}
.search-box input[type="text"]:hover + span {
  background: rgba(255, 255, 255, 0.2);
}
.search-box input[type="text"]:focus {
  width: 170px;
  padding: 0 10px;
  outline: none;
  color: black;
}
.search-box input[type="text"]:focus + span {
  width: 170px;
}
.search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all .25s ease-in;
}
.search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid black;
  top: 0;
  width: 21px;
  height: 21px;
  transition: all .25s ease-in .25s;
  border-radius: 25px;
  left: 0;
}
.search-box input[type="text"] + span::before {
  transition: all .25s ease-in .5s;
  transform-origin: left top;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: black;
  transform: rotate(45deg) translate(21px, -1px);
}
/*--------------------------end search--------------------------*/
.main-menu-search, .nav-r{
	display: none;
	z-index: 3;
}
.bottom-header .container .main-menu{
	display: flex;
	align-items: center;
	height: 55px;
	width: 1077px;
	margin: auto;
}
.menu-cate{
	display: flex;
	align-items: center;
	height: 55px;
	position: relative;
	margin-right: 10px;
	padding-left: 27px;
}
.menu-cate .home a{
	font-size: 18px;
}
.menu-cate .active{
	border-bottom: 3px solid #993333;
	padding: 14px 8px 12px 8px;
}
.menu-cate .menu-cate-1 .active{
	border-bottom: 3px solid #993333;
}
.menu-cate a{
	color: #333333;
	font-size: 14px;
	font-family: roboto-medium;
}
.menu-cate .menu-cate-1{
	padding: 16px 8px;
	position: relative;	
}
.menu-cate .menu-cate-1 a{
	text-transform: uppercase;
	font-family: Averta;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 118.01%;
color: #333333;
}
.menu-cate-1 .menu-cate-1_drop{
	position: absolute;
	z-index: 1;
	background-color:white;
	top: 100%;
	display: none;
	
}
.menu-cate-1 .menu-cate-1_drop .drop-item{
    font-weight: 700;
    font-size: 12px;
    color: #A71F23;
    display: block;
    line-height: 17px;
    padding: 5px 15px;
    min-width: 186px;
	
}
.menu-cate-1:hover .menu-cate-1_drop{
	display: block;
}
.menu-cate-1 .drop-item:hover{
	background-color: #A71F23;
	color: white;
	transition: 0.3s;
}

/*BODY*/
.content-page{
	position: relative;
	margin-bottom: 316px;
}
.adv-body{
	width: 100%;
	position: absolute;
}
.main-content-page{
	position: relative;
	z-index: 2;
	top: 240px;
	width: 1140px;
	/*left: 50%;
	transform: translateX(-50%);*/
	background: #fff;
	padding: 30px 15px 0 15px;
	margin: 0 auto;
}
.banner-res{
	display: none;
}
/*--------------------------end search--------------------------*/
/*BODY*/
.content-page{
	position: relative;
	margin-bottom: 316px;
}
.adv-body{
	width: 100%;
	position: absolute;
}
.main-content-page{
	position: relative;
	z-index: 2;
	top: 240px;
	width: 1140px;
	/*left: 50%;
	transform: translateX(-50%);*/
	background: #fff;
	padding: 30px 15px 0 15px;
	margin: 0 auto;
}
.banner-res{
	display: none;
}
/*box home*/
/*box-home-left*/
.box-home{
	display: flex;
	justify-content: space-between;
	
}
.box-home-left{
	width: 300px;
	margin-right: 20px;
}
.news-table{
	border-bottom: 5px solid #F0EFF4;
	margin-bottom: 30px;
}
.news-table-bot{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.news-table-bot-image{
	width: 485px;
	height: 291px;
}
.news-table-bot-image img{
	width: 100%;
	height: 100%;
}
.news-table-title{
	width: 230px;
}
.news-table-title .news-title{
	font-family: roboto-regular;
font-style: normal; 	
font-weight: bold;
font-size: 24px;
line-height: 130%;
letter-spacing: 0.02em;
color: #333333;
	display: block;
	margin: 3px 0 10px 0;
}
.news-table-mininew{
	max-width: 230px;
	padding-top: 41px;
	padding-bottom: 30px;
}
.news-table-mininew a{
	font-family: roboto-regular;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
color: #333333;
	padding-bottom: 10px;
}
.news-table-mininew a:last-child{
	padding: 0px;
}
.nes-table-mininew .news-table-mininew-image{
	display: block;
	width: 230px;
	height: 138px;
}
.news-left-item{
	width: 740px;
	flex-wrap: wrap;
	padding: 20px 0 20px 0;
	display: flex;
	margin-bottom: 20px;
	border-bottom: 1px solid #F0EFF4;
}
.news-left-item:last-child{
	border: none;
}
.news-left-image{
	width: 300px;
}
.box-news-right{
	width: 300px;
	height: auto;
}
.news-left-item-info{
	width: 424px;
}
.news-left-item-info p{
	font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #444444;
}
.news-left-item-title{
	font-family: roboto-bold;
font-style: normal;
font-weight: 750;
font-size: 20px;
line-height: 130%;
	display: inline-block;
	padding-top: 16px;
	padding-bottom: 16px;
letter-spacing: 0.02em;
}
.news-left-item-title>a{
	color: black!important;
}
.news-left-item-time{
	font-family: roboto-regular;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	display: inline-block;
	padding-bottom: 12px;
	letter-spacing: -0.005em;
	color: #993333;
	position: relative;
	margin-right: 20px;
}
.news-left-item-time:after{
	content: "";
	display: inline-block;
	position: absolute;
	width: 3px;
	height: 3px;
	background: #c4c4c4;
	border-radius: 50%;
	right: -15px;
	top: 9px;
}
.news-left-item-time img{
	width: 30px;
	padding: 0 12px 0 12px;
}
.box-home-left-item{
	display: flex;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
	margin-bottom: 15px;
}
.box-home-left-item:last-child{
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}
.box-home-left-item .thumb{
	width: 120px;
	height: 72px;
	margin-right: 10px;
}
.box-home-left-item .news-info{
	width: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	line-height: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
/*box-home-main*/
.box-home-main{
	width: 480px;
	margin-right: 30px;
}
.box-home-main .thumb{
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}
.box-home-main .news-info .main-title{
	margin-bottom: 20px;
}
.box-home-main .news-info p{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
/*box-home-right*/
.main-news-right{
	display: none;
}
.box-home-right{
	width: 300px;
}
.box-home-right .box-home-right-top{
	width: 250px;
}
.box-home-right-top-item .thumb{
	width: 100%;
	height: 100%;
	
}

.box-home-right-top-item .news-info .main-title{
	margin: 10px 0 15px 0;
}

.money-bar{
	width: 100%;
	padding: 24px 0 20px 0;
	border-bottom: 5px solid #F0EFF4;
	margin-bottom: 30px;
	margin-top: 28px;
	display: flex;
}
.gold-bar{
	width: 250px;
	height: 50px;
	background: #FFEEDB;
/* KTVN9 */

border: 1px solid #F5D3C8;
box-sizing: border-box;
	text-align: center;
}

.gold-button{
	background: #FFEEDB;
	border: 1px solid #F5D3C8;
	box-sizing: border-box;
	width: 250px;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: black;
	font-family: Averta;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
}
.gold-button img{
	left: 0px;
	top: 2px;
	position: absolute;
	width: 45px;
}

/*box-page-first*/
.box-page-first{
	display: flex;
	padding-top: 10px;
	justify-content: space-between;
}
.box-page-first>.box-page-second{
	padding-top: 0px;
}
.cate-page{
	display: flex;
}
.cate-page li{
	margin-right: 5px;
}
.cate-page .active a{
	background: #993333;
	color: white;
}
.cate-number{
	width: 32px;
	height: 32px;
	display: inline-block;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
	border-radius: 2px;
	line-height: 32px;
	text-align: center;
	color: black;
}
.cate-number:hover{
	background: #993333;
	color: white;
	text-decoration: none;
}
.box-home-right-banner{
	margin-top: 29px;
}
.box-home-right .cate-title a{
	margin-top: 33px;
}
.cate-title a{
	display: block;
	border-left: 5px solid black;
	padding-left: 10px;
	font-family: Averta;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 130%;
/* identical to box height, or 31px */

display: flex;
align-items: center;
letter-spacing: 0.02em;

/* KTVN1 */

color: #993333;
}
.right-cate{
	background: #F5F5F5;
border-radius: 7px;
	padding: 0 25px 0 15px;
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	height: 380px;
	width: 100%;
	margin-top: 10px;
}
.right-cate::-webkit-scrollbar {
    width: 6px;
    background: #F5F5F5;
}
.right-cate::-webkit-scrollbar-thumb {
    background: #8A8D91;
border-radius: 5px;
}
.right-cate-detail{
	padding: 15px 0;
	width: 50%;
	position: relative;
	display: flex;
}
.right-cate-detail .thumb{
	align-items: center;
}
.cate-detail-name{
	font-family: Averta;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
letter-spacing: 0.75px;
color: #555555;
	padding-left: 17px;
	position: absolute;
	top: 20px;
	left: 25px;
}
.news-right2 a{
	font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #333333;
	display: block;
	margin-left: 10px;
	margin-top: 6px;
}
.news-right2 p{
	font-family: roboto-regular;
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 130%;
display: flex;
align-items: center;
letter-spacing: 0.02em;
color: #E3E3E3;
}
.news-right2{
	position: relative;
	padding: 14px 0 12px 0
}

.news-right2-image{
	width: 6%;
	height: 2%;
	padding-top: 10px;
}
.news-right2 .comment-icon{	
	top: 25px;
	left: 0px;
	z-index: 2;
}
.box-page-first-left{
	width: 740px;
}
.box-page-first-right{
	width: 300px;
}
.ts-home-box{
	background: #F1F9FF;
	padding: 20px 20px 27px;
	margin-bottom: 20px;
}
.ts-home-box-content{
	display: flex;
	margin: 8px -10px 0;
}
.ts-home-box-item{
	width: 220px;
	margin: 0 10px;
}
.ts-home-box-item .thumb{
	width: 100%;
	height: 132px;
	margin-bottom: 15px;
}
.news-home-item{
	display: flex;
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.10);
	width: 100%;
	
}
.box-page-first-left .list-news-home{
	margin-bottom: 0px;
}
.list-news-home{
	margin-bottom: 30px;
	flex-wrap: wrap;
	justify-content: space-between;
	display: flex;
}
.list-news-home .news-home-item:first-child{
	padding-top: 0;
	border-top: 0;
	margin-top: 0;
}
.list-news-home_item{
	width: 230px;
	margin-bottom: 30px;
}
.item_video, .box-home-right_video{
	position: relative;
	z-index: 1;
}
.item_video .play-button, .box-home-right_video .play-button{
	position: absolute;
	z-index: 5;
	bottom: 0;
	width: 17%;
}
.item_video_time{
	padding: 5px;
	position: absolute;
	color: white;
	right: 0;
	background-color: black;
	opacity: 0.7;
	bottom: 0px;
	display: flex;
	font-size: 15px;
}
.item_title a{
	font-family: roboto-regular;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #333333;
	display: block;
	margin-top: 10px;
}
.news-home-item .news-home-item_image{
	width: 300px;
	height: 180px;
	margin-right: 16px;
	display: block;
	background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	overflow: hidden;
	position: relative;
}
.news-home-item .news-home-item_image img{
	position: absolute;
      left: 0;
      top: 0;
       max-width: 100%;
     width: 100%;
      height: auto;
}
.news-home-item .news-info{
	padding-top: 10px;
	width: 424px;
}
.news-home-item .news-info .main-title{
	margin-bottom: 16px;
}
.news-home-item .news-info .main-intro{
	margin-top: 12px;
}
.news-cate-time .news-cate-link{
	font-family: roboto-regular;
	line-height: 22px;
	color:#A71F23;
	position: relative;
	margin-right: 20px;
}
.news-cate-time .news-cate-link:after{
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	background: #C4C4C4;
	position: absolute;
    right: -16px;
	top: 50%;
	transform: translateY(-50%);
}
.news-cate-time .news-push-date{
	font-family: roboto-regular;
	line-height: 22px;
	color: #777777;
}
.news-info .news-cate-time .news-cate-link{
	color: #508CA4;
}
/*category-box-right*/
.category-box-right{
	margin-bottom: 20px;
}
.category-box-right-content{
	margin-top: 8px;
} 
.category-box-right-item-big{
	margin-bottom: 20px;
}
.category-box-right-item-big .thumb{
	width: 100%;
	height: 180px;
	margin-bottom: 15px;
}
.category-box-right-item-big .news-info .main-title{
	margin-bottom: 10px;
}
.category-box-right-item{
	padding: 15px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.10);
	display: flex;
}
.category-box-right-item .thumb{
	width: 120px;
	height: 72px;
	margin-right: 10px;
}
.category-box-right-item .news-info{
	width: 170px;
}
.banner-mid{
	padding: 30px 100px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
/*tv-box-home*/
.tv-box-home{
	background: #337357;
	padding: 20px 30px 58px;
	margin: 0 -15px 30px;
}
.tv-box-home-head{
	margin-bottom: 20px;
}
.tv-box-home-head ul{
	display: flex;
	align-items: center;
}
.tv-box-home-head ul li{
	margin-right: 32px;
}
.tv-box-home-head ul li a{
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	line-height: 140%;
	font-family: roboto-regular;
}
.tv-box-home-head ul li:first-child a{
	font-weight: 700;
	font-size: 44px;
	line-height: 64px;
	font-family: roboto-bold;
}
.tv-box-home-main{
	display: flex;
	margin-bottom: 40px;
}
.tv-box-home-main .tv-box-home-image{
	width: 740px;
	height: 416px;
}
.tv-box-home-main .tv-box-home-main-info{
	width: 316px;
	margin-left: 20px;
}
.tv-box-home-main-info .main-title{
	margin-bottom: 26px;
}
.tv-main-news-time-view{
	display: flex;
	margin-top: 26px;
}
.tv-main-news-time-view span{
	font-size: 12px;
	line-height: 150%;
	color: #EEEEEE;
	font-family: roboto-regular;
	margin-right: 24px;
}
.tv-main-news-share{
	display: flex;
	justify-content: flex-end;
	margin-top: 33px;
}
.tv-main-news-share li{
	width: 30px;
	height: 30px;
	background: #0DAB76;
	margin-left: 12px;
	text-align: center;
	line-height: 30px;
}
.tv-main-news-share li a{
	color: #FFFFFF;
}
.tv-box-home-list{
	display: flex;
	margin: 0 -10px;
}
.tv-box-home-item{
	width: 200px;
	margin: 0 10px;
}
.tv-box-home-item .thumb{
	width: 100%;
	height: 120px;
	margin-bottom: 15px;
}
.tv-box-home-item .news-info{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 105px;
}
.tv-box-home-item-time span{
	font-family: roboto-regular;
	font-size: 12px;
	line-height: 18px;
	color: #eeeeee;
}
.tv-box-home-item-time span.time{
	margin-right: 20px;
}
.tv-box-home-item-time span.views i{
	display: inline-block;
	transform: translateY(2px);
}
/*category-box-right-item-2*/
.category-box-right-item-2{
	padding-bottom: 12px;
    margin-bottom: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
.category-box-right-item-2:last-child{
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}
.category-box-right-item-2 .news-info{
	display: flex;
}
.category-box-right-item-2 .news-icon{
	margin-right: 15px;
    width: 14px;
}
.category-box-right-item-2 .news-icon span{
	display: inline-block;
	position: relative;
}
.category-box-right-item-2 .news-icon span:after{
	content: "";
	width: 15px;
	height: 5px;
	transform: skew(-15deg);
	-webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-o-transform: skew(-15deg);
	background: #BFD7EA;
	position: absolute;
	right: 0;
	bottom: 7px;
	z-index: -1;
}
.category-box-right-item-2 .news-icon span.top-views{
	color: #555555;
    font-size: 24px;
    line-height: 31px;
    font-family: roboto-light;
}
.category-box-right-item-2 .news-icon-comment{
	display: flex;
	align-items: center;
}
.category-box-right-item-2 .news-icon span.comment{
	color: #222222;
}
.category-box-right-item-2 .news-icon span.comment:after{
	bottom: 0;
}
/*category-box-main*/
.category-box-main{
	margin-bottom: 76px;
}
.category-box-main .category-header{
	margin-bottom: 8px;
}
.category-box-main-item-big .thumb{
	width: 100%;
	height: 204px;
	margin-bottom: 15px;
}
.category-box-main-item-big .news-info .main-title{
	margin-bottom: 10px;
}
.category-box-main-item-big .news-info .news-cate-time{
	margin-bottom: 10px;
}
.main-intro-limit{
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    height: 58.8px;
}
.category-box-main-list-news{
	margin-top: 4px;
}
.category-box-main-item{
	padding-top: 16px;
	margin-top: 16px;
	border-top: 1px solid rgba(0, 0, 0, 0.10);
	display: flex;
}
.category-box-main-item .thumb{
	width: 120px;
	height: 72px;
	margin-right: 10px;
}
.category-box-main-item .news-info{
	width: 210px;
}
.black-news{	
	background-color:black;;
	width: 100%;
	padding-top: 20px;
	position:relative;
	top: 240px;
}
.black-news .green-nav{
	padding-left: 30px;
}
.black-news .green-nav .green-nav_title{
	font-family: roboto-regular;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 64px;
color: #993333;
}
.black-news .green-nav a{
	margin-left: 32px;
	margin-top: 20px;
	font-family: roboto-regular;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 140%;
color: #BCBDC0;
}

.main-video-status{
	display: flex;
}
.main-video-status i{
	margin-right: 3px;
}

.main-video{
	padding: 28px 0 40px 0;
	width: 1080px;
	margin: auto;
	display: flex;
}
.main-video-content{
	width: 710px;
}
.main-video-title{
	width: 316px;
}
.main-video-title .black-news_video_title a{
	font-family: roboto-regular;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 130%;
	align-items: center;
	color: #FFFFFF;
	opacity: 0.9;
	padding-top: 15px;
}
.video-content{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	display: flex;
	align-items: center;

/* Grayscale eee */

color: #EEEEEE;
	padding: 26px 0;
}
.main-video-time{
	font-family: roboto-regular;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 150%;
color: #EEEEEE;
	margin-right: 23px;
}
.share{
	display: flex;
	justify-content: flex-end;
	margin-top: 23px;
	position: relative;
}
.share li{
	margin-left: 12px;
	background-color: #8A8D91;
	width: 30px;
	height: 30px;
	list-style-type: none;
	position: relative;
	border-radius: 2px;
}
.share li a{
	text-align: center;
	line-height: 0px;
	display: block;
	font-size: 12px;
}
.share li a img{
}
.share i{
	position: absolute;
	top: 9px;
	right: 10px;
	width: 10px;
	height: 10px;
	color: white;
}
.list-video{
	width: 1140px;
	margin: auto;
	padding: 30px;
}
.list-video-item{
	width: 200px;
}
.list-video-item .list-video-item_title a{
	font-family: roboto-regular;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
padding: 14px 0;
	display: inline-block;
color: #FFFFFF;
}

/*FOOTER*/
footer{
	background: #F0EFF4;
	width: 100%;
}
footer .thumb{
	width: 90px;
}
.main-footer{
	width: 1080px;
	background: #F0EFF4;
	padding: 30px 0px;
}
.logo-content{
	margin-left: 20px;
}
.logo-content h3{
	font-family: Averta;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 118.01%;
color: #000000;
}
.logo-content p{
	
}
.footer{
	margin-top: -50px;
}
.footer-nav{
	margin: 20px 0;
}
.footer-nav a{
	font-family: Averta;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
letter-spacing: 0.75px;
text-transform: uppercase;
color: #555555;
	padding: 10px 0px;
	text-decoration: none;
}
.footer-nav-bot{
	margin-bottom: 10px;
}
.footer-nav-bot a{
	margin-left: 20px;
	font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 140%;
color: #993333;
	text-decoration: none;
}
.footer-nav-bot p{
	font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 140%;
text-align: center;
color: #555555;
}
.footer-nav-bot img{
	width: 121px;
	margin-top: 10px;
}
.footer-r{
	display: none!important;
}
/****
CATEGORY
****/
/*box-home-cate*/
.box-home-cate{
	margin-top: 30px;
}
.box-home-cate .box-home-main{
	margin-right: 20px;
}
.box-home-cate .box-home-right{
	width: 580px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.box-home-cate .box-home-right .box-home-right-item{
	width: 300px;
	margin-bottom: 27px;
}
.box-home-cate .box-home-right .box-home-right-item .thumb{
	width: 100%;
	height: 168px;
	margin-bottom: 15px;
}
.box-home>.box-home-main{
	width: 740px;
}
/****
CHANNEL
****/
.channel-date{
	display: block;
	margin-bottom: -4px;
	font-size: 16px;
	font-family: roboto-regular;
	line-height: 25px;
	color: #222222;
	margin-top: 44px;
}
.channel-date:first-child{
	margin-top: 16px;
}
/****
TAG
****/
.category-header-tag{
	margin-bottom: 30px;
}
.box-page-tag .list-news-home .news-home-item:first-child {
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
}
/****
SEARCH
****/
.category-title-search{
	color: #333;
}
.search-count{
	padding-bottom: 20px;
	font-family: roboto-regular;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #666666;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
	margin-top: 14px;
}
.box-search-advanced{
	width: 100%;
    background: #F1F9FF;
    padding: 20px 20px 23px;
    margin: 20px 0;
    font-size: 14px;
}
.box-search-advanced input{
	border: solid 1px #bfbfbf;
    padding: 10px 8px;
    outline: 0;
    font-size: 14px;
	line-height: 16px;
	width: 100%;
	border: 1px solid #BFD7EA;
	color: #757575;
}
.box-search-advanced button{
	font-family: roboto-regular;
	font-size: 15px;
	line-height: 22.5px;
	color: #FFFFFF;
	padding: 8px 19px;
	background: #508CA4;
	outline: 0;
	border: 0;
	cursor: pointer;
}
.box-search-title{
	font-family: roboto-regular;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #666666;
}
.box-search-row{
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	justify-content: space-between;
}
.box-search-group{
	width: 48.5%
}
/****
DETAIL
****/
.detail-header{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
	
}
.detail-header .main-breadcrumb{
	border-bottom: 0;
}
.detail-header-right{
	display: flex;
	align-items: center;
}
.detail-header-right .time{
	color: #757575;
}
.detail-header-action{
	display: flex;
	align-items: center;
}
.detail-header-action li{
	margin-left: 20px;
}
.detail-header-action li a{
	font-size: 15px;
}
.detail-header-action .comment{
	color: #508CA4;
	font-size: 13px;
}
.detail-header-action .fb-share{
	color: #3B5999;
}
.detail-header-action .twitter-share{
	color: #55ACEE;
}
.detail-header-action .copy-link{
	color: #508CA4;
}
.detail-header-action .print{
	color: #993333;
	font-size: 18px;
}
.box-author{
	display: flex;
}
.box-author .author-image{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 15px;
}
.box-author .author-info .author-name{
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 2px;
}
.box-author .author-info .author-name a{
	color: #000000;
}
.box-author .author-info span{
	font-size: 13px;
	color: #757575;
	/*margin-bottom: 4px;*/
	display: block;
}
.box-page-bottom_item{
	width: 340px;
}
.detail-body{
	padding-top: 36px;
	display: flex;
}
.detail-body-left{
	width: 681px;
	margin-right: 40px;
}
.detail-content{
	padding-left: 23px;
}
.detail-title{
	margin-bottom: 22px;
}
.detail-intro{
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 20px;
}
.news-inside{
	padding-left: 12px;
}
.news-inside li{
	position: relative;
}
.news-inside li:after{
	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	background: #337357;
	position: absolute;
	left: -12px;
	top: 50%;
	transform: translateY(-50%);
}
.table-image-title{
	background-color: #F7F7F7;
	padding: 9px 15px 20px 15px;
	margin-bottom: 20px;
}
.news-inside a{
	font-size: 14px;
	line-height: 160%;
	font-weight: 700;
	color: #337357;	
}
.content{
	margin-top: 10px;
}
.content p{
	font-size: 17px;
}
.content-author{
	margin-top: 24px;
	font-size: 18px;
	font-weight: 700;
	color: #333333;
	text-align: right;
}
.detail-action{
	margin-top: 18px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 24px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
.social-list{
	display: flex;
}
.social-list li{
	margin-right: 9px;
}
.share-fb{
	display: flex;
}
.social-list .share-fb .icon-share-fb{
	background: #3B5999;
	display: inline-block;
	height: 36px;
	width: 36px;
	text-align: center;
	line-height: 36px;
	color: #ffffff;
}
.social-list .share-fb .text-share-fb{
	color: #FCFAF6;
	background: #087CCE;
	font-size: 12px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	padding: 0 10px;
}
.social-list .share-twitter{
	display: inline-block;
	height: 36px;
	width: 36px;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
	background: #55ACEE;
}
.social-list .share-zalo{
	display: inline-block;
	width: 36px;
	height: 36px;
	background: #41A0D7;
	line-height: 36px;
	text-align: center;
}
.fa-zalo{
	width: 16px;
    height: 14px;
    background: url("../images/zalo.png") no-repeat;
    margin: auto;
}
.like-main{
	display: flex;
	align-items: center;
	font-size: 15px;
}
.like-main .like{
	margin-right: 20px;
	cursor: pointer;
}
.like-main .unlike{
	margin-right: 15px;
	cursor: pointer;
}
.detail-title-interested{
	padding: 10px;
	color: #BDBDBD;
	border: 1px solid rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
}
.detail-title-interested a{
	color: #757575;
	font-size: 13px;
	padding-left: 5px;
}
.relation-news{
	padding: 15px 22px;
	background: #f7f7f7;
	margin-top: 30px;
}
.relation-news-header{
	font-size: 18px;
	line-height: 12px;
	font-family: roboto-medium;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 30px;
	padding: 15px 22px;
	background-color: #F7F7F7;;
}
.relation-news-list{
	margin-left: 18px;
}
.relation-news-list li{
	position: relative;
	margin-bottom: 10px;
}
.relation-news-list li:after{
	content: "";
	width: 5px;
	height: 5px;
	background: #c4c4c4;
	display: inline-block;
	position: absolute;
	left: -18px;
	top: 50%;
	transform: translateY(-50%);
}
.relation-news-list a{
	font-size: 15px;
	line-height: 22px;
	color: #4f4f4f;
}
.detail-tag{
	display: flex;
	margin: 30px 0 20px 0;
}
.detail-tag .tag-title{
	padding: 10px 5px;
	display: inline-block;
	background: #f7f7f7;
	color: #757575;
	font-size: 14px;
	line-height: 16px;
	height: 35px;
	position: relative;
	margin-right: 30px;
}
.detail-tag .tag-title:after{
	content: "";
	width: 0;
    height: 0;
    border-top: 18.5px solid transparent;
    border-left: 15px solid #f7f7f7;
    border-bottom: 18.5px solid transparent;
    position: absolute;
    left: 100%;
    top: 0;
}
.detail-tag .tag-title i{
	color: #666666;
}
.tag-list{
	display: flex;
}
.tag-list li{
	padding: 7px 15px;
	border: 1px solid #f7f7f7;
	margin: 0 5px;
	transition: 0.2s;
	box-sizing: border-box;
	min-width: 100px;
	text-align: center;
}
.tag-list li:hover{
	background-color: #FFEEDB;
	font-weight: 700;
	
}
.tag-list a{
	color: #4f4f4f;
	transition: 0.2s;
	display: block;
}

.floating-bar{
    position: relative;
    width:62px;

}
.floating-bar .detail-header-action .floating-bar_fb{
	color: #3B5999;
}
.floating-bar .detail-header-action .floating-bar_twitter{
	color: #55ACEE;
}
.floating-bar .detail-header-action{
	flex-direction: column;
	background: #fff;
	border: 1px solid #FFEEDB;
}
.floating-bar .detail-header-action li{
	margin-left: 0;
	padding: 10px 13px;
}
.floating-bar .detail-header-action li:first-child{
	background: #FFEEDB;
}
.floating-bar .detail-header-action li .comment{
	display: flex;
	flex-direction: column;
}
.zalo img, .comment img, .copy-link img, .save img, .report img{
	width: 18px;
	margin: auto;
}
.li-active{
	background-color: #FFEEDB;
	font-weight: bold;
}
/****
CATEGORY - LĂNG KÍNH
****/

.box-home-author .box-home-main{
	width: 100%;
	margin-right: 0;
}
.box-home-author .box-home-main .thumb{
	margin-bottom: 0;
}
.box-home-author .box-home-main-item{
	display: flex;
	justify-content: space-between;
	background: #F1F9FF;
	padding: 17px 103px 30px 30px;
}
.box-home-author .box-home-main-item .box-author{
	flex-direction: column;
	align-items: center;
	width: 180px
}
.box-home-author .box-home-main-item .box-author .author-image{
	margin-right: 0;
	margin-bottom: 15px;
	width: 100px;
	height: 100px;
}
.box-home-author .box-home-main-item .box-author .author-info{
	text-align: center;
}
.box-home-author .box-home-main-item .news-info{
	width: 760px;
}
.box-home-author .box-home-main-item .news-info .main-intro{
	margin-top: 15px;
	display: block;
}
.compact{
	color: #ffffff;
	background: #508CA4;
	padding: 9px 19px;
	font-size: 15px;
	line-height: 25px;
	font-family: roboto-regular;
	margin-top: 20px;
	outline: 0;
	border: 0;
}
/****
CATEGORY - VIDEO
****/
.box-home-video{
	margin-top: 19px;
	padding-bottom: 39px;
	border-bottom: 5px solid #F0EFF4;
}
.box-home-video .box-home-main{
	width: 760px;
	margin-right: 40px;
}
.box-home-video .box-home-main iframe{
	/* width: 100%; */
}
.box-home-video .box-home-video_content{
	max-width: 760px;
}
.box-home-video_content a{
	font-family: roboto-regular;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 130%;
letter-spacing: 0.02em;

color: #333333;
	display: block;
	padding:20px 0;
}
.box-home-video_content p{
	font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 145%;
color: #444444;
}
.box-home-video .box-home-main-item .thumb{
	height: 427.5px;
}
.box-home-video .box-home-right{
	width: 280px;
}
.box-home-video .box-home-right .box-home-right-item{
	margin-bottom: 40px;
}

.author-carousel{
	margin-top: 30px;
    background: #F1F9FF;
    padding: 20px 35px;
}
.author-carousel .category-header{
	margin-bottom: 20px;
}
.author-item{
	text-align: center;
}
.author-item .thumb img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.author-item .author-item-name a{
	color: #000000;
}
span.nav-icon {
    text-align: center;
    background: #508CA4;
    width: 40px;
    height: 40px;
    display: inline-block;
    color: #fff;
    line-height: 40px;
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
}
span.nav-icon-left{
	left: -35px;
}
span.nav-icon-right{
	right: -35px;
}
.author-carousel .owl-nav, .author-carousel .owl-dots{
	height: 0;
}
#button1 {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 100px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button1::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button1:hover {
  cursor: pointer;
  background-color: #333;
}
#button1:active {
  background-color: #555;
}
#button1.show {
  opacity: 1;
  visibility: visible;
}
/*-----------------------------responsive----------------------------------*/
.home-logo-r{
	display: none;
}
.banner-header{
	display: none;
}
#sidebarCollapse, #sidebar{
	display: none;
}
.nav-res{
	display: none;
}
.chungkhoan{
	display: none;
}
/* copy link */

.toolTipCopy {
  position: relative;
  display: inline-block;
}

.toolTipCopy .tooltiptext {
  line-height: 24px;
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.toolTipCopy .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.toolTipCopy:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.modal-header{
	position: relative;
	display: flex;
	justify-content: center;
}
.modal-header .close{
	position: absolute;
	top: -10px;
	right: -10px;
	border-radius: 50px;
	background-color: black;
	color: white;
	padding: 10px 15px;
}
.modal-header .modal-title{
	width: 100%;
	text-transform: uppercase;
	background-color:#A71F23;
	color: white;
	padding: 5px 0;
	border-radius: 3px;
}
/* copy link */
.loading-process {
    transform: translateX(-50%);
    left: 50%;
    width: 30px;
    position: absolute;
    z-index: 10;
    width: 30px;
    top: 40%;
    display: none;
}
.search-request{
    padding-bottom: 11px;
}
.active-menu{
    border-bottom: 2px solid #a72c23;
}
.tag-list li, .tag-list span {
    margin-top: 7px;
}
